*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
@font-face {
		font-family: Caveat Regular;
		src: url(../fonts/Caveat-Regular.ttf);
}	
main{
	width: 70%;
	padding: 50px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #fff;
	background-image: url(../img/Фон_02.jpg);
}

h1{
	width: 100%;
	text-align: center;
	font-size: 48px;
}
body{
	/*background-color: #efefef;*/
	font-family: Caveat Regular;
	background-image: url(../img/18.png);
}
.photo{
	max-width: 520px;
	width: calc(25vw - 10px);
	height: calc((35vw - 40px) / 16 * 9);
	margin: 20px;
	background-color: #f9813a;
	background-position: center;
	background-size: cover;
	opacity: 0.65;
	transition: 10s, transform 0.0000000001s;
	box-shadow: 0 0 10px 30px rgba(0,0,0,0.3);
}
.photo:hover {
	opacity: 5s;
	transform: scale(1.9);
	z-index: 10;
}
.photo1 {
	background-image: url(../img/01.jpg);
}
.photo2 {
	background-image: url(../img/02.jpg);
}
.photo3 {
	background-image: url(../img/03.jpg);
}
.photo4 {
	background-image: url(../img/04.jpg);
}
.photo5 {
	background-image: url(../img/05.jpg);
}
.photo6 {
	background-image: url(../img/06.jpg);
}
.photo7 {
	background-image: url(../img/07.jpg);
}
.photo8 {
	background-image: url(../img/08.jpg);
}
.photo9 {
	background-image: url(../img/09.jpg);
}
.photo10 {
	background-image: url(../img/10.jpg);
}
.photo11 {
	background-image: url(../img/11.jpg);
}
.photo12 {
	background-image: url(../img/12.jpg);
}